*{
    margin: 0;
    padding:0;
}

header{
    width: 100%;
    height: 20%;
    background-color: black;
    color: beige;

}
.head{
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 1fr [x4] 1fr [x5] 2fr [x6] 1fr;
}
h1{
    grid-column: x3 / x4;
}
.padre{
    background-color: aqua;
    width: 100%;
    height: 33rem;
    display: grid;
    grid-template-columns:  [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5] 1fr [x6] 1fr [x7] 1fr [x8] 1fr ;
    grid-template-rows:  [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5] 1fr [x6] 1fr [x7] 1fr [x8] 1fr;
}
.hijo{
    margin-right: 14%;
    background-color: blue;
    grid-column: x1 / x81;
    grid-row: x1 /x81;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr;
}
.contenido{
    margin: 1%;
    margin-right: 14%;
    color: white;
    border: 1px solid white;
    grid-column: x1 /x81;
    grid-row: x1/x3;
}
.texto1{
    margin: 1%;
    color: white;
    border: 1px solid white;
    grid-column: x1 / x5;
    grid-row: x3 / x82
}
.texto2{
    margin: 1%;
    margin-right: 30%;
    color: white;
    border: 1px solid white;
    grid-column: x5 / x82;
    grid-row: x3 / x82;
}
.hijo2{
    background-color: aquamarine;
    grid-column: x7/x81;
    grid-row: x1 / x81;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr [x9]1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr [x9]1fr;
    
}
.centrar{
    border: 3px solid black;
    margin: 3%;
    grid-column: x1 /x81;
    grid-row: x1 /x3;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr;
 
}
.menu{
  
    grid-column: x4 / x5;
    grid-row: x4 /x5;
}
.centro{
    margin: 1%;
    border: 1px solid white;
    grid-column: x1 /x81;
    grid-row: x3 /x5;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr;
 
}
.menu2{
    grid-column: x4 / x5;
    grid-row: x4 /x5;
}
.centro2{
    margin: 1%;
    border: 1px solid white;
    grid-column: x1 /x81;
    grid-row: x5 /x7;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr;
 
}
.menu3{
    grid-column: x4 / x5;
    grid-row: x4 /x5;
}
.centro3{
    margin: 1%;
    border: 1px solid white;
    grid-column: x1 /x81;
    grid-row: x7 /x80;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr;
 
}
.menu4{
    grid-column: x4 / x5;
    grid-row: x4 /x5;
}
.footer{
    background-color: blueviolet;
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr;
}
.centrarcaja{
    margin: 1%;
    color: white;
    border: 2px solid black;
    display: grid;
    grid-column: x1 /x5;
    grid-row: x1 /x82;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr;
}
.cajas{
    grid-column: x4 / x5;
    grid-row: x4 /x5;
}
.centrarcaja2{
    margin: 1%;
    color: white;
    border: 2px solid black;
    display: grid;
    grid-column: x5 /x82;
    grid-row: x1 /x82;
    display: grid;
    grid-template-columns: [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr ;
    grid-template-rows:  [x1] 2fr [x2] 2fr [x3] 2fr [x4] 2fr [x5] 2fr [x6] 2fr [x7] 2fr [x8] 1fr;
}
.cajas2{
    grid-column: x4 / x5;
    grid-row: x4 /x5;
}